
set_io CLK_OSC100	129

set_io UART_RX 		88
set_io UART_TX		85

set_io QSPICSN		81
set_io QSPICK		82
set_io QSPIDQ[0]	83
set_io QSPIDQ[1]	84
set_io QSPIDQ[2]	79
set_io QSPIDQ[3]	80

set_io LED1		71
set_io LED2		67
set_io LED3		68
set_io LED4		70

set_io B1		63
set_io B2		64

# SRAM
#set_io ADR[0		137
#set_io ADR[1		138
#set_io ADR[2		139
#set_io ADR[3		141
#set_io ADR[4		142
#set_io ADR[5		42
#set_io ADR[6		43
#set_io ADR[7		44
#set_io ADR[8		73
#set_io ADR[9		74
#set_io ADR[10		75
#set_io ADR[11		76
#set_io ADR[12		115
#set_io ADR[13		116
#set_io ADR[14		117
#set_io ADR[15		118
#set_io ADR[16		119
#set_io ADR[17		78
#
#set_io DAT[0		136
#set_io DAT[1		135
#set_io DAT[2		134
#set_io DAT[3		130
#set_io DAT[4		125
#set_io DAT[5		124
#set_io DAT[6		122
#set_io DAT[7		121
#set_io DAT[8		62
#set_io DAT[9		61
#set_io DAT[10		60
#set_io DAT[11		56
#set_io DAT[12		55
#set_io DAT[13		48
#set_io DAT[14		47
#set_io DAT[15		45
#
#set_io RAMOE		29
#set_io RAMWE		120
#set_io RAMCS		23
#set_io RAMUB		28
#set_io RAMLB		24
#
